<?php

// Here config global

return array(
    'debug' => true,
    'mongo.server' => 'mongodb://localhost',
    'mongo.options' => array(
       'db' => 'myapp'
    ),
    'github' => array(
        'url' => 'https://github.com/login/oauth/access_token',
        'client_id' => 'bfcda35e836f13ee9d72',
        'client_secret' => '4781cce7a55a180ed3ad20eeb6552562712fe0fa'
    ),
);
